export OC_BUILDTARGET=latest
#export OC_APPTARGET=_app

source_up

# Optional settings
#export OC_APP_BUILDERIMAGE=${OC_PUSHTARGET}/_appbuilder
#export OC_APP_GITREPO="https://github.com/faangbait/lila.git"
#export OC_APP_BRANCH="master"
#unset OC_APP_CONTEXT_DIR
#export OC_APP_LABEL=${OC_APPTARGET}
